<template>
	<div class="comments">
		<ExtendedInput
			v-model="myComment"
			placeholder="Type your comment here..."
			@enter="post"
		/>

		<div class="list">
			<div v-for="comment in comments" class="comment">
				<div class="info">
					<template v-if="comment.authAddress === 'owner'">
						<span class="owner">Livestreamer</span>
					</template>
					<template v-else-if="comment.certUserId">
						<span class="name">{{comment.certUserId}}</span>
						<span class="address">({{comment.authAddress}})</span>
					</template>
					<template v-else>
						<span class="name">@{{comment.authAddress}}</span>
					</template>
					<span class="date">
						[{{(new Date(comment.timestamp)).toLocaleTimeString()}}]
					</span>
				</div>
				<div class="body">
					{{comment.comment}}
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="sass" scoped>
	.comments
		max-width: 800px
		width: 100%
		margin: 0 auto

		.list
			margin-top: 32px

			.comment
				margin: 24px 0

				.info
					margin-bottom: 4px
					font-weight: bold
					font-family: "Courier New", monospace
					.name
						color: #008
					.address
						color: #888
					.date
						color: #800
					.owner
						color: #B80
</style>

<script type="text/javascript">
	import {zeroPage} from "@/zero";

	export default {
		name: "Comments",
		props: ["hub", "id", "owner"],
		data() {
			return {
				hub: "",
				id: "",
				myComment: "",
				comments: [],
				owner: false
			};
		},

		mounted() {
			zeroPage.on("peerReceive", message => this.onPeerReceive(message));
		},


		methods: {
			async onPeerReceive({params}) {
				const prefix = `chat|${this.id}|`;
				if(
					params.site === this.hub &&
					params.message.startsWith(prefix)
				) {
					const [
						signature, authAddress, certUserId, comment, timestamp
					] = params.message.substr(prefix.length).split("|");

					if(signature === "owner") {
						if(params.signed_by === this.hub) {
							this.showMessage(
								"owner",
								certUserId,
								comment,
								timestamp
							);
						}
					} else {
						if(await zeroPage.cmd("ecdsaVerify", [
							comment, authAddress, signature
						])) {
							this.showMessage(
								authAddress,
								certUserId,
								comment,
								timestamp
							);
						}
					}
				}
			},

			async post() {
				const comment = encodeURIComponent(this.myComment.trim());
				this.myComment = "";
				if(!comment) {
					return;
				}

				if(this.owner) {
					const certUserId = this.$store.state.siteInfo.cert_user_id;

					await zeroPage.cmd("as", [
						this.hub,
						"peerBroadcast",
						{
							message: [
								"chat", this.id,
								"owner", "", certUserId,
								comment, Date.now()
							].join("|"),
							immediate: false,
							privatekey: "stored"
						}
					]);
				} else {
					const signature = await zeroPage.cmd("ecdsaSign", [comment]);
					const authAddress = this.$store.state.siteInfo.auth_address;
					const certUserId = this.$store.state.siteInfo.cert_user_id;

					await zeroPage.cmd("as", [
						this.hub,
						"peerBroadcast",
						{
							message: [
								"chat", this.id,
								signature, authAddress, certUserId || "",
								comment, Date.now()
							].join("|"),
							immediate: false,
							privatekey: false
						}
					]);
				}
			},

			showMessage(authAddress, certUserId, comment, timestamp) {
				this.comments.push({
					authAddress,
					certUserId: certUserId || null,
					comment: decodeURIComponent(comment),
					timestamp: +timestamp
				});
				this.comments.sort((a, b) => b.timestamp - a.timestamp);
			}
		}
	};
</script>