<template>
	<div class="root">
		<p>
			<StreamZ /> is a real-time streaming platform for ZeroNet. Brought
			to you with <icon name="heart" /> by <i>Git Center</i>,
			<i>Glightstar</i>, <i>ZeroLSTN</i>, <i>Krixano</i> and
			<i>Thunder33345</i>.
		</p>

		<p v-if="!loggedIn">
			You are not logged in, so you won't be able to stream. Press the
			rightmost button in the header to login.
		</p>

		<p v-if="!peerMessageInstalled">
			You don't have a <b>PeerMessage</b> plugin, so you won't be able to
			watch or stream. Press the leftmost button in the header to get more
			info on how to install it.
		</p>

		<ExtendedInput
			v-model="searchQuery"
			placeholder="What are you going to watch today?"
			@enter="search"
		>
			<icon name="search" />
		</ExtendedInput>
	</div>
</template>

<style lang="sass" scoped>
	.root
		max-width: 1000px
		margin: 0 auto
		padding: 16px 0

	.search
		display: flex
		flex-direction: row
		margin-top: 32px
		width: 100%
		border-radius: 4px
		border: 1px solid #DDD
		overflow: hidden

		&:hover, &:focus
			border-color: #AAF

		input
			width: 100%
			padding: 12px 16px
			border: none

		.search-button
			margin: 16px
			cursor: pointer
			$color: #AAAAAA
			color: $color

			&:hover
				color: darken($color, 50%)

	button
		padding: 24px 32px
		border: none
		border-radius: 4px
		width: 256px
		margin: 16px
		color: #FFF
		font-size: 24px
		cursor: pointer

		&.stream
			background-color: #FF5252
		&.watch
			background-color: #448AFF

		.icon
			width: 32px
			height: 32px
			vertical-align: middle
			margin-right: 16px

		transition: all 0.2s

		box-shadow: 0 2px 16px rgba(0, 0, 0, 0.3)
		&:hover
			margin-top: 20px
			margin-bottom: 12px
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4)
</style>

<script type="text/javascript">
	import {zeroPage} from "@/zero";
	import "vue-awesome/icons/heart";
	import "vue-awesome/icons/search";

	export default {
		name: "home",
		data() {
			return {
				searchQuery: ""
			};
		},
		methods: {
			stream() {
				this.$router.navigate("stream");
			},
			watch() {
				this.$router.navigate("watch");
			},
			search() {
				this.$router.navigate(
					`search/${encodeURIComponent(this.searchQuery)}`
						.replace(/\/$/, "")
				);
			}
		},
		computed: {
			loggedIn() {
				return !!this.$store.state.siteInfo.cert_user_id;
			}
		},
		asyncComputed: {
			async peerMessageInstalled() {
				const serverInfo = await zeroPage.cmd("serverInfo");
				return serverInfo.plugins.indexOf("PeerMessage") > -1;
			}
		}
	};
</script>