<template>
	<div class="root">
		<h1>{{title}}</h1>

		<div class="video">
			<VideoPlayer :id="id" ref="screenPlayer" v-show="hasScreen" />
			<VideoPlayer :id="id" ref="cameraPlayer" v-show="hasCamera" />
		</div>

		<Comments :hub="hub" :id="id" :owner="false" />
	</div>
</template>

<style lang="sass" scoped>
	.root
		height: 100%

		display: flex
		flex-direction: column
		align-items: center

		h1
			margin: 32px 0

		.video
			margin-bottom: 32px
			text-align: center

			display: inline-flex
			flex-direction: column
			justify-content: center
			align-items: center
			position: relative
</style>

<script type="text/javascript">
	import {zeroPage} from "@/zero";

	export default {
		name: "watch",
		data() {
			return {
				hub: null,
				id: null,
				title: null,
				hasCamera: false,
				hasScreen: false
			};
		},

		async mounted() {
			this.hub = this.$router.currentParams.hub;
			this.id = this.$router.currentParams.id;
			this.title = decodeURIComponent(this.$router.currentParams.title);
			zeroPage.on("peerReceive", this.onPeerReceive);

			// Get merger permission
			const permissions = this.$store.state.siteInfo.settings.permissions;
			if(permissions.indexOf("Merger:StreamZ") === -1) {
				await zeroPage.cmd("wrapperPermissionAdd", ["Merger:StreamZ"]);
			}
			// Download the hub
			await zeroPage.cmd("mergerSiteAdd", [this.hub]);
		},
		destroyed() {
			zeroPage.off("peerReceive", this.onPeerReceive);
		},


		methods: {
			onPeerReceive({params}) {
				if(
					params.signed_by === this.hub &&
					params.message.startsWith(`${this.id}*`)
				) {
					if(params.message.startsWith(`${this.id}*camera@`)) {
						this.hasCamera = true;
						this.$refs.cameraPlayer.$emit(
							"blob",
							params.message.substr(`${this.id}*camera@`.length)
						);
					} else if(params.message.startsWith(`${this.id}*screen@`)) {
						this.hasScreen = true;
						this.$refs.screenPlayer.$emit(
							"blob",
							params.message.substr(`${this.id}*screen@`.length)
						);
					}
				}
			}
		}
	};
</script>