<template>
	<div class="root">
		<h1>Stream</h1>

		<ExtendedInput placeholder="Title" v-model="title" />
		<ExtendedInput placeholder="Description" v-model="description" />
		<ExtendedInput title="Delay" v-model="delay">
			seconds (smaller requires more CPU resources, but reduces latency)
		</ExtendedInput>

		<h2>
			<input type="checkbox" id="stream_screen" v-model="screenEnabled">
			<label for="stream_screen">Screen</label>
		</h2>

		<div class="row">
			<ExtendedInput title="Bitrate" v-model="screenBitrate">kbps</ExtendedInput>
			<div class="space" />
			<ExtendedInput title="FPS" v-model="screenFps" />
			<div class="space" />
			<ExtendedInput title="Width" v-model="screenWidth">pixels</ExtendedInput>
			<div class="space" />
			<ExtendedInput title="Height" v-model="screenHeight">pixels</ExtendedInput>
		</div>

		<ExtendedInput title="Video codec" v-model="screenCodec">
			(common codecs: vp8, opus, h264, vp9)
		</ExtendedInput>

		<h2>
			<input type="checkbox" id="stream_camera" v-model="cameraEnabled">
			<label for="stream_camera">Camera</label>
		</h2>

		<div class="row">
			<ExtendedInput title="Bitrate" v-model="cameraBitrate">kbps</ExtendedInput>
			<div class="space" />
			<ExtendedInput title="FPS" v-model="cameraFps" />
			<div class="space" />
			<ExtendedInput title="Width" v-model="cameraWidth">pixels</ExtendedInput>
			<div class="space" />
			<ExtendedInput title="Height" v-model="cameraHeight">pixels</ExtendedInput>
		</div>

		<ExtendedInput title="Video codec" v-model="cameraCodec">
			(common codecs: vp8, opus, h264, vp9)
		</ExtendedInput>

		<button class="right" @click="stream">
			Stream
			<icon class="icon" name="video" />
		</button>
	</div>
</template>

<style lang="sass" scoped>
	.root
		max-width: 1000px
		margin: 0 auto
		padding: 16px 0

	h2
		margin-top: 32px

	.row
		display: flex
		flex-direction: row

		.space
			flex: 0 0 8px
			width: 8px

	.right
		display: flex
		flex-direction: row
		justify-content: end

		.button
			display: inline-block
			vertical-align: top
			overflow: hidden

			$color: #FF5252
			color: $color
			cursor: pointer
			&:hover
				color: darken($color, 20%)

			.button-content
				overflow: hidden
				display: flex
				flex-direction: row
				align-items: center

				.icon
					width: 32px
					height: 32px
					margin: 8px

				.text
					display: inline-block
</style>

<script type="text/javascript">
	import "vue-awesome/icons/video";

	export default {
		name: "stream/configuration",
		data() {
			return {
				title: "",
				description: "",
				delay: 5,
				screenEnabled: true,
				screenBitrate: 2000,
				screenFps: 30,
				screenCodec: "default",
				screenWidth: screen.width,
				screenHeight: screen.height,
				cameraEnabled: false,
				cameraBitrate: 1000,
				cameraFps: 30,
				cameraCodec: "default",
				cameraWidth: 640,
				cameraHeight: 480
			};
		},
		methods: {
			stream() {
				const title = encodeURIComponent(this.title || "No title");
				const description = encodeURIComponent(this.description || "No description");

				this.$router.navigate(
					`
						stream
						/${title}
						/${description}
						/${this.delay}
						/${this.screenEnabled ? `
							${this.screenWidth}x${this.screenHeight},
							fps=${this.screenFps},
							br=${this.screenBitrate},
							codec=${this.screenCodec}
						` : "no"}
						/${this.cameraEnabled ? `
							${this.cameraWidth}x${this.cameraHeight},
							fps=${this.cameraFps},
							br=${this.cameraBitrate},
							codec=${this.cameraCodec}
						` : "no"}
					`.replace(/\s/g, "")
				);
			}
		}
	};
</script>