<template>
	<div class="root">
		<template v-if="capturing || paused">
			<template v-if="capturing">
				<div class="text">
					You are streaming now. Here is a direct link to your stream:
					<ExtendedInput :value="directLink" :readonly="true" />
					<br /><br />
					{{totalPackets}} packet(s) sent.
					<br /><br />
					<button class="left" @click="pause">
						<icon class="icon" name="pause" />
						Pause
					</button>
					<button class="left" @click="terminate">
						<icon class="icon" name="stop" />
						Terminate
					</button>
					<ClearFix />
				</div>
			</template>

			<template v-else>
				<div class="text">
					Your stream is paused.
					<br /><br />
					{{totalPackets}} packet(s) sent.
					<br /><br />
					<button class="left" @click="resumeCapture">
						<icon class="icon" name="play" />
						Resume
					</button>
					<button class="left" @click="terminate">
						<icon class="icon" name="stop" />
						Terminate
					</button>
					<ClearFix />
				</div>
			</template>

			<div class="comments">
				<Comments :hub="hub" :id="videoId" :owner="true" />
			</div>
		</template>

		<template v-else-if="terminated">
			<div class="text">
				Your stream is terminated.
				<br /><br />
				{{totalPackets}} packet(s) were sent.
			</div>
		</template>

		<div class="text" v-else-if="requestingNosandbox">
			To record a video, we need a <b>NOSANDBOX</b> permission. Please allow it.
		</div>
		<div class="text" v-else-if="requestingNosandbox === null || requestingHub === null">
			...
		</div>
		<div class="text" v-else-if="requestingHub">
			You should also create a hub especially for you &mdash; to make the
			stream seamless.
		</div>
		<div class="text" v-else-if="requestingHub !== null">
			Please accept the capture request.
		</div>
	</div>
</template>

<style lang="sass" scoped>
	.root
		max-width: 1000px
		margin: 0 auto
		padding: 32px 0

		> .comments
			margin-top: 32px
</style>

<script type="text/javascript">
	import "vue-awesome/icons/pause";
	import "vue-awesome/icons/play";
	import "vue-awesome/icons/stop";
	import CapturedStream from "@/libs/stream";
	import {TIMESLICE, PING_INTERVAL} from "@/constants";
	import {zeroPage, zeroDB} from "@/zero";

	export default {
		name: "stream",
		data() {
			const title = decodeURIComponent(this.$router.currentParams.title);
			const description = decodeURIComponent(this.$router.currentParams.description);
			const delay = parseFloat(this.$router.currentParams.delay);

			let data = {
				title,
				description,
				delay,
				screen,
				currentBlobArray: [],
				capturing: false,
				terminated: false,
				paused: false,
				requestingHub: null,
				videoId: "",
				pingTimeout: null,
				hub: ""
			};

			for(const id of ["screen", "camera"]) {
				if(this.$router.currentParams[id] === "no") {
					data[id] = null;
				} else {
					const [
						, width, height, fps, bitrate, codec
					] = this.$router.currentParams[id].match(
						/^(\d+)x(\d+),fps=(\d+),br=(\d+),codec=([^,]+)$/
					);
					data[id] = {
						width, height, fps, bitrate, codec,
						packetId: 0,
						stream: null
					};
				}
			}

			return data;
		},

		async mounted() {
			if(this.requestingNosandbox) {
				// Request NOSANDBOX
				this.requestNosandbox();
				return;
			}

			// Init streams
			for(const id of ["screen", "camera"]) {
				if(this[id]) {
					this[id].stream = new CapturedStream();
					this[id].handler = data => this.onCapture(id, data);
					this[id].stream.on("capture", this[id].handler);
				}
			}

			if(this.requestingNosandbox) {
				// Request NOSANDBOX
				this.requestNosandbox();
			} else {
				const authAddress = this.$store.state.siteInfo.auth_address;
				const hubs = await zeroPage.cmd("mergerSiteList", [true]);

				// Update hub owners and titles by the way
				for(const hub of Object.values(hubs)) {
					if(hub && hub.content && hub.settings.own && !hub.content.owner) {
						// A new hub that we haven't initialized yet
						let content = await zeroPage.cmd("as", [
							hub.address, "fileGet", ["content.json"]
						]);
						content = JSON.parse(content);
						content.owner = authAddress;
						content.title = this.$store.state.siteInfo.cert_user_id;
						hub.content = content; // Update for the next step
						content = JSON.stringify(content, null, 1);
						await zeroPage.cmd("as", [
							hub.address, "fileWrite", [
								"content.json", btoa(content)
							]
						]);
						await zeroPage.cmd("as", [
							hub.address, "siteSign", ["stored"]
						]);
					}
				}

				let hub = Object.values(hubs).find(hub => {
					return hub && hub.content && hub.content.owner === authAddress;
				});

				this.requestingHub = !hub;
				this.hub = hub ? hub.address : "";
			}
		},
		destroyed() {
			for(const id of ["screen", "camera"]) {
				if(this[id]) {
					this[id].stream.stop();
					this[id].stream.off("capture", this[id].handler);
				}
			}
			clearTimeout(this.pingTimeout);
		},

		computed: {
			requestingNosandbox() {
				return this.$store.state.siteInfo.settings.permissions.indexOf("NOSANDBOX") === -1;
			},
			directLink() {
				return `
					http://127.0.0.1:43110/${this.$store.state.siteInfo.address}
					/?/watch/${this.hub}/${this.videoId}
					/${encodeURIComponent(this.title)}
				`.replace(/\s/g, "");
			},
			totalPackets() {
				let totalPackets = 0;
				for(const id of ["screen", "camera"]) {
					if(this[id]) {
						totalPackets += this[id].packetId;
					}
				}
				return totalPackets;
			}
		},

		watch: {
			async requestingHub(newValue) {
				if(newValue) {
					// Get permission
					await zeroPage.cmd("wrapperPermissionAdd", ["Merger:StreamZ"]);
					// Clone hub
					const address = this.$store.state.siteInfo.address;
					await zeroPage.cmd("siteClone", [address, "hub"]);
					// No other handling required, the hub will redirect us back
					// to this page, and reinvoke mounted()
				} else if(newValue === false) {
					this.capture();
				}
			}
		},

		methods: {
			async requestNosandbox() {
				const res = await zeroPage.cmd("wrapperPermissionAdd", ["NOSANDBOX"]);
				if(res && !res.error) {
					parent.location.href = `?/${this.$router.currentHash}`;
				}
			},

			async capture() {
				this.videoId = Math.random().toString(36).substr(2);

				// Add the video information to data.json
				const authAddress = this.$store.state.siteInfo.auth_address;
				await zeroDB.insertRow(
					`data/users/${authAddress}/data.json`,
					`data/users/${authAddress}/content.json`,
					"videos",
					{
						title: this.title,
						description: this.description,
						id: this.videoId,
						ping: 0,
						hub: this.hub
					}
				);

				await this.startCapture();
			},

			async pause() {
				for(const id of ["screen", "camera"]) {
					if(this[id]) {
						await this[id].stream.pause();
					}
				}
				this.capturing = false;
				this.paused = true;

				for(const id of ["screen", "camera"]) {
					if(this[id]) {
						this[id].packetId++;
						const data = `${this.videoId}*${id}@pause?${this[id].packetId}!0,pause`;
						zeroPage.cmd("as", [this.hub, "peerBroadcast", {
							message: data,
							immediate: false,
							privatekey: "stored"
						}]);
					}
				}
			},

			async terminate() {
				for(const id of ["screen", "camera"]) {
					if(this[id]) {
						await this[id].stream.stop();
					}
				}
				this.capturing = false;
				this.terminated = true;
				clearTimeout(this.pingTimeout);
			},

			async resumeCapture() {
				this.capturing = true;
				this.paused = false;

				// Start the capture itself
				for(const id of ["screen", "camera"]) {
					if(this[id]) {
						await this[id].stream.resume();
					}
				}

				// Start broadcasting the ping
				this.pingTimeout = setTimeout(() => this.ping(), PING_INTERVAL);
			},

			async startCapture() {
				this.capturing = true;
				this.paused = false;

				// Start the capture itself
				for(const id of ["screen", "camera"]) {
					if(this[id]) {
						await this[id].stream.start(
							{
								screen: "getDisplayMedia",
								camera: "getUserMedia"
							}[id], {
								id,
								constraints: {
									video: {
										width: this[id].width,
										height: this[id].height,
										frameRate: {
											ideal: this[id].fps
										}
									}
								},
								timeSlice: TIMESLICE,
								restreamInterval: Math.round(this.delay * 1000 / TIMESLICE),
								bitrate: this[id].bitrate * 0.75,  // since we're using base64
								mimeType: `video/webm${this[id].codec === "default" ? "" : `; codecs="${this[id].codec}"`}`
							}
						);
					}
				}

				// Start broadcasting the ping
				this.pingTimeout = setTimeout(() => this.ping(), PING_INTERVAL);
			},


			onCapture(id, {data, type}) {
				this.capturing = true;

				this[id].packetId++;
				data = `${this.videoId}*${id}@${type}?${this[id].packetId}!${this.delay},${data}`;
				zeroPage.cmd("as", [this.hub, "peerBroadcast", {
					message: data,
					immediate: false,
					privatekey: "stored"
				}]);
			},

			ping() {
				// Add the video information to data.json
				const authAddress = this.$store.state.siteInfo.auth_address;
				zeroDB.changeRow(
					`data/users/${authAddress}/data.json`,
					`data/users/${authAddress}/content.json`,
					"videos",
					video => {
						if(video.id === this.videoId) {
							video.ping = Date.now();
						}
						return video;
					}
				);

				this.pingTimeout = setTimeout(() => this.ping(), PING_INTERVAL);
			}
		}
	};
</script>