<template>
	<div class="video-player" :style="{width: `${width}px`, height: `${height}px`}">
		<div
			class="packets"
			ref="packets"
		/>

		<div class="overload transparent" v-if="allowPlayback">
			Buffering, please wait.
		</div>

		<div class="overload opaque" v-if="paused">
			The stream is paused.
		</div>

		<div class="overload opaque" v-if="waitForButton" @click="play">
			Click to start.
		</div>
	</div>
</template>

<style lang="sass" scoped>
	.video-player
		position: relative

	.packets
		width: 100%

		/deep/ video
			width: 100%
			position: absolute
			left: 0
			top: 0

	.overload
		position: absolute
		left: 0
		top: 0

		display: flex
		width: 100%
		height: 100%

		justify-content: center
		align-items: center

		color: #FFF

		&.transparent
			background-color: rgba(0, 0, 0, 0.9)
		&.opaque
			background-color: rgba(darken(#FF5252, 10%), 0.9)
</style>

<script type="text/javascript">
	import {Buffer} from "buffer";
	import {PACKET_DELAY} from "@/constants";

	export default {
		name: "VideoPlayer",
		data() {
			return {
				packets: [],
				allowPlayback: true,
				expectedPacket: null,
				skipWaitTimeout: null,
				playbackStarted: false,
				paused: false,
				waitForButton: null,
				width: 640,
				height: 480,
				packetDelay: 0
			};
		},

		mounted() {
			this.$on("blob", this.onBlob);
		},


		methods: {
			onBlob(data) {
				// Parse stuff
				let type, packetId, duration;
				[type, data] = data.split("!");
				[duration, data] = data.split(",");
				[type, packetId] = type.split("?");
				packetId = parseInt(packetId, 10);
				duration = parseFloat(duration);

				console.log(`Received packet #${packetId}`);

				if(this.expectedPacket !== null && packetId < this.expectedPacket) {
					// We don't need this packet anymore
					return;
				}

				let url;
				if(type === "pause") {
					url = null;
				} else {
					let buf;
					if(data[0] === "z") {
						// Base64
						buf = new Buffer(data.substr(1), "base64");
					} else {
						// Hex
						buf = new Buffer(data, "hex");
					}
					url = URL.createObjectURL(new Blob([buf], {type}));
				}

				// Handle the new packet
				this.handlePacket({
					packetId,
					type,
					url,
					duration,
					shown: false,
					metadataLoaded: false,
					errorred: false
				});
			},

			handlePacket(packet) {
				this.packets.push(packet);
				this.packets.sort((a, b) => a.packetId - b.packetId);
				this.updatePacketNodes();

				console.log(
					"Cached packets:",
					this.packets.map(packet => packet.packetId)
				);

				if(!this.allowPlayback) {
					return;
				}


				if(this.playbackStarted) {
					// We're waiting for any packet
					if(this.packets.length > 0) {
						this.startPlayback();
					}
				} else {
					// We want 2 packets, and they must be successive
					for(let i = 0; i < this.packets.length - 1; i++) {
						if(
							this.packets[i + 1].packetId -
							this.packets[i].packetId
							=== 1
						) {
							// Successive packets

							// Revoke old URLs
							for(const packet of this.packets.slice(0, i)) {
								URL.revokeObjectURL(packet.url);
							}

							this.packets = this.packets.slice(i);
							this.updatePacketNodes();
							this.startPlayback();
							return;
						}
					}
				}
			},

			startPlayback() {
				clearTimeout(this.skipWaitTimeout);

				this.allowPlayback = false;
				this.playbackStarted = true;

				// Show the 1st packet
				const packet = this.packets[0];
				const {
					packetId, type, url, duration, metadataLoaded, errorred
				} = packet;

				console.log(`Playback packet #${packetId}`);
				this.expectedPacket = packetId;

				if(type === "pause") {
					this.packets.shift();
					if(this.packets.length === 0) {
						this.paused = true;
						this.waitForBuffering();
					}
					return;
				}

				const node = this.$el.querySelector(`.player-packet${packetId}`);
				if(this.packetDelay >= node.duration) {
					// Oops, switch to the next packet ASAP
					this.packetDelay -= node.duration;
					node.parentNode.removeChild(node);
					this.packets.shift();

					if(
						this.packets.length > 0 &&
						this.packets[0].packetId - packetId === 1
					) {
						this.startPlayback();
					} else {
						this.waitForBuffering();
					}

					return;
				}

				packet.shown = true;
				this.updatePacketNodes();

				let startPlaybackTime;

				this.paused = false;
				node.onloadedmetadata = () => {
					node.onloadedmetadata = null;

					node.onplay = () => {
						node.onplay = null;
						startPlaybackTime = Date.now();
					};

					node.onended = () => {
						node.onended = null;

						// Revoke URL
						URL.revokeObjectURL(url);

						this.packets.shift();
						this.updatePacketNodes();

						const playTime = Date.now() - startPlaybackTime;
						this.packetDelay = playTime / 1000 - duration;

						// When the packet finished, and we've got more packets
						// to play, continue playback.
						if(
							this.packets.length > 0 &&
							this.packets[0].packetId - packetId === 1
						) {
							this.startPlayback();
						} else {
							this.waitForBuffering();
						}
					};



					console.log("Playing from", this.packetDelay);

					node.currentTime = Math.max(this.packetDelay, 0);
					this.width = node.videoWidth;
					this.height = node.videoHeight;

					setTimeout(async () => {
						try {
							await node.play();
						} catch(e) {
							console.log(e);
							this.waitForButton = packetId;
						}
					}, 0);
				};
				if(metadataLoaded) {
					node.onloadedmetadata();
				}

				node.onerror = () => {
					// Some decoding issue, might sometimes happen when the
					// translation is paused
					node.onerror = null;

					this.packets.shift();
					this.updatePacketNodes();

					if(
						this.packets.length > 0 &&
						this.packets[0].packetId - packetId === 1
					) {
						this.startPlayback();
					} else {
						this.waitForBuffering();
					}
				};
				if(errorred) {
					node.onerror();
				}
			},

			waitForBuffering() {
				// Automatically start playback after we've got
				// 1 packet buffered.
				this.allowPlayback = true;

				this.skipWaitTimeout = setTimeout(
					() => this.skipWait(),
					PACKET_DELAY
				);

				this.packetDelay = 0; // we want at least something
			},

			skipWait() {
				if(this.packets.length > 0) {
					// We have a packet, but it's too new. We haven't received
					// any older packet, though, and probably won't receive it,
					// so it's time to skip that old packet and show a new one.
					this.startPlayback();
				}
			},

			play() {
				this.$el.querySelector(`.player-packet${this.waitForButton}`).play();

				const packet = this.packets.find(
					packet => packet.packetId === this.waitForButton
				);
				packet.shown = true;
				this.updatePacketNodes();

				this.waitForButton = null;
			},


			updatePacketNodes() {
				for(const packet of this.packets) {
					if(packet.url) {
						let node = this.$el.querySelector(`.player-packet${packet.packetId}`);
						if(!node) {
							node = document.createElement("video");
							node.src = packet.url;
							node.dataset.packet = packet.packetId.toString();
							node.className = `player-packet${packet.packetId}`;
							node.onloadedmetadata = () => {
								packet.metadataLoaded = true;
							};
							node.onerror = () => {
								packet.errorred = true;
							};
							this.$refs.packets.appendChild(node);
						}
						node.style.opacity = packet.shown ? 1 : 0;
					}
				}
				for(const node of this.$el.querySelectorAll("video")) {
					if(!this.packets.some(
						packet => packet.packetId === parseInt(node.dataset.packet)
					)) {
						node.parentNode.removeChild(node);
					}
				}
			}
		}
	};
</script>