<template>
	<div :style="{clear}"></div>
</template>

<script language="text/javascript">
	export default {
		props: {
			clear: {
				type: String,
				default: "both"
			}
		},
		name: "ClearFix"
	};
</script>