<template>
	<div class="input">
		<div class="extended-left" v-if="title">
			{{title}}
		</div>
		<input
			v-model="value"
			:readonly="readonly"
			:placeholder="placeholder"
			@input="input"
			@keyup.enter="enter"
		/>
		<div class="extended" @click="enter" v-if="this.$slots.default">
			<slot />
		</div>
	</div>
</template>

<style lang="sass" scoped>
	.input
		display: flex
		flex-direction: row
		margin-top: 8px
		width: 100%
		border-radius: 4px
		border: 1px solid #DDD
		overflow: hidden

		&:hover, &:focus
			border-color: #AAF

		input
			flex: 1 1 0
			padding: 12px 16px
			border: none
			min-width: 0


		.extended-left
			margin: 16px
			margin-right: 8px
			color: #000000
			& + input
				padding-left: 8px

		.extended
			margin: 16px
			cursor: pointer
			$color: #AAAAAA
			color: $color

			&:hover
				color: darken($color, 50%)
</style>

<script type="text/javascript">
	export default {
		name: "ExtendedInput",
		props: ["value", "title", "placeholder", "readonly"],
		data() {
			return {
				value: "",
				title: "",
				placeholder: "",
				readonly: false
			};
		},
		methods: {
			enter() {
				this.$emit("enter", this.value);
			},
			input() {
				this.$emit("input", this.value);
			}
		}
	};
</script>